{% extends "base.html" %}
{% load static i18n wger_extras %}


{% block title %}{% translate "About us" %}

<img src="{% static 'images/logos/logo-font-inverse.svg' %}" class="logo" height=200 alt=" mav2fit logo"/>

{% endblock %}

{% block content %}
    <p>
        {% blocktranslate trimmed %}
            Thank you for using mav2fit!

           <p>
             mav2fit provides basic support for gym management. It can be used to manage gym members, their exercise routines and attendance.
           </p>
            <p>This application allows delegating administrative tasks to gym managers (add/edit contacts, send notifications to inactive members) or trainers (add/edit workouts).
            wger offers gym-optimized view and countdown for weights tracking.
            <p>
        {% endblocktranslate %}
    </p>




{% endblock %}


{% block sidebar %}
    <div class="card text-white bg-success mb-3">
        <div class="card-header">
            {% translate "Our goal" %}
        </div>
        <div class="card-body">
            {% blocktranslate %}The goal is to build an awesome
                and flexible fitness manager, along with a comprehensive and complete list of exercises and
                ingredients.{% endblocktranslate %}
        </div>
    </div>

    <div class="alert alert-dark mt-5" role="alert">
        {% translate "Current version" %} {{ 1.0 }}
    </div>
{% endblock %}


